<!doctype html>
<html amp="amp" lang="en">
  <head>
    <meta charset="utf-8">
    <script async="async" src="https://cdn.ampproject.org/v0.js"></script>
     <title>{{title}}</title>
     <link rel="canonical" href="https://truth2020.github.io{{page.url}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
     <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700)">
    <style amp-custom="amp-custom">
      {% maincss "" %}
    </style>
  </head>
  <body>
    <header class="headerbar">
    <div style="display: flex;
        align-items: center;
        margin: auto; max-width: 1140px; padding: 0 15px;">
      <div class="site-name">
      <a href="/">
        Truth 2020
      </a>
      </div>
    </header>
    </div>
    {{ content | safe }}
    <br>
    <br>
  </body>
</html>