---
layout: base.html
---
<div class="content">
  <div class="tag-img">
  <amp-img alt="image for {{title}}" src="{{image}}" width="{{image-width}}" height="{{image-height}}" layout="responsive">
  </amp-img>
  </div>
    <h1>{{title}}</h1>
    {{ description }}

    {% if fallacies %}
    <p>
      <h2>This tag is related to the following fallacies</h2>
      <ul>
	{% for fallacy in fallacies %}
	<li><a href="{{fallacy}}" target="_blank">{{fallacy}}</a></li>
	{% endfor %}
      </ul>
      </p>
    {% endif %}
</div>
